<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.temp.update_manyi.repository.ProjectTimeMapper">


    <update id="updateBeginEndTime">
        UPDATE project_time SET begin_time = #{beginTime} , end_time= #{endTime} WHERE id = #{projectId} :: UUID;
    </update>
</mapper>