<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.temp.update_manyi.repository.ProjectInfoMapper">

    <select id="getAll" resultType="com.sun.temp.update_manyi.domain.ProjectInfo">
        SELECT * FROM project_info
    </select>
    <select id="findMaxEndTimeByAccount" resultType="java.time.LocalDate">
        SELECT max(end_time) FROM project_info WHERE username = #{account} OR customer_name = #{account};
    </select>
    <select id="findMinBeginTimeByAccount" resultType="java.time.LocalDate">
        SELECT min(begin_time) FROM project_info WHERE username = #{account} OR customer_name = #{account};
    </select>
    <select id="getEarlierBeginDate" resultType="java.time.LocalDate">
        SELECT min(begin_time) FROM project_info WHERE code IN
        <foreach collection="codeArray" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
        ;
    </select>
</mapper>